<launch>
  <arg name="config" default="$(find uav_system)/config/commander.yaml" />
  <arg name="auto_arm" default="" />
  <arg name="arm_method" default="" />
  <node pkg="uav_system" type="takeoff_hover_land.py" name="takeoff_hover_land" output="screen" required="true" clear_params="true">
    <rosparam command="load" file="$(arg config)" />
    <param name="auto_arm_override" type="str" value="$(arg auto_arm)" />
    <param name="arm_method_override" type="str" value="$(arg arm_method)" />
  </node>
</launch>
